*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GongFanBaDaoTi;
  src: url("./font/GongFanBaDaoTi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rancho;
  src: url("./font/Rancho-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}